<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff0db6d3d3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Book A ride</title>
</head>
<body id="bookARide" th:data-error="${error}">
<div class="NavigationFlexContainer">
    <div class="logo"><img th:src="@{/images/lekkaRideLogo.png}" alt="LekkaRide"></div>
    <div class="nav-links">
        <a th:href="@{/}" >Home</a>
        <a th:if="${session.role == 'passenger'}" th:href="@{/bookARide}">Book a ride</a>
        <a th:if="${session.role == 'driver'}" th:href="@{/viewRideRequests}">View booking request</a>
        <a th:if="${session.role == 'passenger'}" th:href="@{/userProfile}">User Profile</a>
        <a th:if="${session.role == 'driver'}" th:href="@{/driverProfile}">Driver Profile</a>
        <a th:if="${session.user == null}" th:href="@{/userRegister}">Login/Register</a>
    </div>
</div>

<div class="bookARideFlexContainer">
    <form th:action="@{/bookARide/create}" method="post">
        <h1>Book A ride</h1>
        <label for="passengerCount">Passenger Count</label>
        <input type="number" id="passengerCount" name="passengerCount" min="1" max="4"  required>

        <label for="pickUpStreet">Pick up Street</label>
        <input type="text" id="pickUpStreet" name="pickUpStreet" placeholder="e.g. 123 Main St" required>

        <label for="pickUpSuburb">Pick up Suburb</label>
        <input type="text" id="pickUpSuburb" name="pickUpSuburb" placeholder="e.g. District six" required>

        <label for="pickUpCity">Pick up City</label>
        <input type="text" id="pickUpCity" name="pickUpCity" placeholder="e.g. Cape town" required>

        <label for="dropOffStreet">Drop off Street</label>
        <input type="text" id="dropOffStreet" name=dropOffStreet placeholder="e.g. 123 Main St" required>

        <label for="dropOffSuburb">Drop off Suburb</label>
        <input type="text" id="dropOffSuburb" name="dropOffSuburb" placeholder="e.g. District six" required>

        <label for="dropOffCity">Drop off  City</label>
        <input type="text" id="dropOffCity" name="dropOffCity" placeholder="e.g. Cape town" required>

        <input type="submit" value="Create a Booking">
    </form>
</div>
<script>
    const error = document.getElementById('bookARide').dataset.error;
    if(error) {
        alert(error);
    }
</script>

</body>
</html>