<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff0db6d3d3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Driver History</title>
</head>
<body>
<div class="NavigationFlexContainer">
    <div class="logo"><img th:src="@{/images/lekkaRideLogo.png}" alt="LekkaRide"></div>
    <div class="nav-links">
        <a th:href="@{/}" >Home</a>
        <a th:if="${session.role == 'passenger'}" th:href="@{/bookARide}">Book a ride</a>
        <a th:if="${session.role == 'driver'}" th:href="@{/viewRideRequests}">View booking request</a>
        <a th:if="${session.user != null}" th:href="@{/userProfile}">Profile</a>
        <a th:if="${session.user == null}" th:href="@{/userRegister}">Login/Register</a>
    </div>
</div>
<div class="driverHistoryFlexContainer">
    <div>
        <form>
            <Label for="userName">Passenger Name :</Label>
            <label  id="userName"> Sample </label><br>

            <label for="passengerCount">Passenger Count :</label>
            <label  id="passengerCount"> Sample </label><br>


            <Label for="sessionStatus">Session Status :</Label>
            <label  id="sessionStatus"> Sample </label><br>

            <label for="pickUpStreet">Pick up Point:</label>
            <label  id="pickUpStreet"> Sample </label><br>

            <label for="pickUpSuburb">Drop Off Point:</label>
            <label  id="pickUpSuburb"> Sample </label><br>

            <label for="Payment">Price:</label>
            <label  id="Payment"> Sample </label><br>

        </form>
    </div>
</div>
</body>
</html>