<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff0db6d3d3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Home</title>
</head>
<body>
<div class="NavigationFlexContainer">
    <div class="logo"><img th:src="@{/images/lekkaRideLogo.png}" alt="LekkaRide"></div>
    <div class="nav-links">
        <a href="index.html">Home</a>
        <a href="bookARide.html">Book a ride</a>
        <a href="viewRideRequests.html">View booking request</a>
        <a href="register.html">Login/Register</a>
        <a href="userProfile.html">Profile</a>
    </div>
</div>

    <div class="HomeFlexContainer">
        <div style="flex-grow: 5">
        <h1>Welcome to LekkaRide</h1>
        <p>LekkaRide is a platform that allows you to book a ride with your friends and family.</p>
        <p>We are here to make your ride a memorable experience.</p><br>
        <a id="BookNowButton">BOOK NOW</a>
        </div>
        <div style="flex-grow: 5">
            <img th:src="@{/images/taxi.png}" alt="taxi">
        </div>
    </div>
</body>
</html>