<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff0db6d3d3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>User Profile</title>
</head>
<body id="userProfile"  th:data-error="${error}" >
<div class="NavigationFlexContainer">
    <div class="logo"><img th:src="@{/images/lekkaRideLogo.png}" alt="LekkaRide"></div>
    <div class="nav-links">

        <a th:href="@{/}" >Home</a>
        <a th:if="${session.role == 'passenger'}" th:href="@{/bookARide}">Book a ride</a>
        <a th:if="${session.role == 'driver'}" th:href="@{/viewRideRequests}">View booking request</a>
        <a th:if="${session.role == 'passenger'}" th:href="@{/userProfile}">User Profile</a>
        <a th:if="${session.role == 'driver'}" th:href="@{/driverProfile}">Driver Profile</a>
        <a th:if="${session.user == null}" th:href="@{/userRegister}">Login/Register</a>
        <a th:if="${session.role == 'passenger'}" th:href="@{/userBookingHistory}">User Profile history</a>
    </div>
</div>
<!--Form containing inputs, the input values are populate by calling the domain.domainAttribute  -->
<div class="ProfileFlexContainer">
    <form th:action="@{/userProfile/update}" method="post">
        <h1>User Profile</h1>
        <input type="hidden" name="userId" th:value="${user.userId}"/>
        <label for="Name">Name</label>
        <input type="text" id="Name" name="name" th:value="${user.userName}" >
        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" th:value="${user.userSurname}"  >
        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" name="phoneNumber" th:value="${user.userPhoneNum}"   >
        <label for="email">Email</label>
        <input type="email" id="email" name="email" th:value="${user.userEmail}"  >
        <label for="password">Password</label>
        <input type="password" id="password" name="password" th:value="${user.userPassword}"  >
        <label for="bankCardNumber">Card Number</label>
        <input type="text" id="bankCardNumber" name="cardNumber"  th:value="${bankdetails.bankCardNum}"  >
        <label for="bankCardDate">Card Expiration Date</label>
        <input type="text" id="bankCardDate" name="cardExpiry" th:value="${bankdetails.bankCardDate}" >
        <label for="bankCvv">CVV</label>
        <input type="text" id="bankCvv" name="cardCvv" th:value="${bankdetails.bankCardCVV}" >

        <h2>Bank Branch</h2>
        <label for="bankBranch">Select Bank Branch</label>
        <select id="bankBranch" name="branchId"  >
            <option th:each="branch : ${branches}"
                    th:value="${branch.bankBranchId}"
                    th:selected="${branch.bankBranchId == bankdetails.bankBranch.bankBranchId}"
                    th:text="${branch.bankBranchName + ' (' + branch.bankBranchCode + ')'}">
            </option>
        </select>
        <input type="submit" class="proceedButton" value="Edit Profile">
    </form>

    <form th:action="@{/userProfile/delete}" method="post">
        <input type="submit" class="backTrackButton" value="Delete Profile">
    </form>

    <form th:action="@{/userProfile/logout}" method="post">
        <input type="submit" class="backTrackButton" value="Logout">
    </form>
</div>
<script>
    const error = document.getElementById('userProfile').dataset.error;
    if(error) {
        alert(error);
    }
</script>
</body>
</html>
