<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff0db6d3d3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Profile</title>
</head>
<body id="profileBody">
<div class="NavigationFlexContainer">
    <div class="logo"><img th:src="@{/images/lekkaRideLogo.png}" alt="LekkaRide"></div>
    <div class="nav-links">
        <a href="index.html">Home</a>
        <a href="bookARide.html">Book a ride</a>
        <a href="viewRideRequests.html">View booking request</a>
        <a href="register.html">Login/Register</a>
        <a href="userProfile.html">Profile</a>
    </div>
</div>

<div class="ProfileFlexContainer">
    <form>
        <h1>Profile</h1>
        <label for="Name">Name</label>
        <input type="text" id="Name" placeholder="e.g.John">

        <label for="surname">Surname</label>
        <input type="text" id="surname" placeholder="e.g.Doe">

        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" placeholder="e.g.0123456789">

        <label for="email">Email</label>
        <input type="email" id="email" placeholder="e.g.example@gmail.com" >

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="e.g.password">

        <label for="bankCardNumber">Card Number</label>
        <input type="text" id="bankCardNumber" placeholder="e.g.1234 5678 9012 3456">

        <label for="bankCardDate">Card Experation Date</label>
        <input type="text" id="bankCardDate" placeholder="e.g.MM/YY">

        <label for="bankCvv">CVV</label>
        <input type="text" id="bankCvv" placeholder="e.g.123">

        <label for="bankBranch">Bank Branch</label>
        <select  id="bankBranch"></select>

        <label for="bankBranchCode">Bank Branch Code</label>
        <select  id="bankBranchCode" ></select>

        <input type="submit" value="Delete Profile">
        <input type="submit" value="Edit Profile">

    </form>

</div>

</body>
</html>