<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>User Register</title>
</head>
<body id="registerBody" th:data-error="${error}">
<div class="NavigationFlexContainer">
    <div class="logo"><img th:src="@{/images/lekkaRideLogo.png}" alt="LekkaRide"></div>
    <div class="nav-links">
        <a th:href="@{/}" >Home</a>
        <a th:if="${session.role == 'passenger'}" th:href="@{/bookARide}">Book a ride</a>
        <a th:if="${session.role == 'driver'}" th:href="@{/viewRideRequests}">View booking request</a>
        <a th:if="${session.role == 'passenger'}" th:href="@{/userProfile}">User Profile</a>
        <a th:if="${session.role == 'driver'}" th:href="@{/driverProfile}">Driver Profile</a>
        <a th:if="${session.user == null}" th:href="@{/userRegister}">Login/Register</a>
    </div>
</div>
<div class="RegisterFlexContainer">
    <form th:action="@{/userRegister/create}" method="post">
        <h1>User Register</h1>
        <label for="Name">Name</label>
        <input type="text"  id="Name" name="name" placeholder="e.g.John">

        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" placeholder="e.g.Doe">

        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" name="phoneNumber" placeholder="e.g.0123456789">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="e.g.example@gmail.com" >

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="e.g.password">

        <div class="bankDetails">
            <h2>Bank Details</h2>
            <label for="bankCardNumber">Card Number</label>
            <input type="text" id="bankCardNumber" name="cardNumber" placeholder="e.g.1234 5678 9012 3456">

            <label for="bankCardDate">Card Experation Date</label>
            <input type="text" id="bankCardDate" name="cardExpiry" placeholder="e.g.MM/YY">

            <label for="bankCvv">CVV</label>
            <input type="text" id="bankCvv" name="cardCvv" placeholder="e.g.123">

            <h2>Bank Branch</h2>
            <label for="bankBranch">Select Bank Branch</label>
            <select id="bankBranch" name="branchId" required>
                <option value="" disabled selected>Select your branch</option>
                <th:block th:each="branch : ${branches}">
                    <option th:value="${branch.bankBranchId}"
                            th:text="${branch.bankBranchName + ' (' + branch.bankBranchCode + ')'}">
                    </option>
                </th:block>
            </select>
        </div>

        <div class="registerLinks">
            <a th:href="@{/}">Continue browsing as a guest</a><br>
            <a th:href="@{/userLogin}">Already have an account</a><br>
            <a th:href="@{/driverRegister}">Create a Driver account</a>

        </div>

        <input type="submit" value="Register">
    </form>
</div>
<script>
    const error = document.getElementById('registerBody').dataset.error;
    if(error) {
        alert(error);
    }
</script>
</body>
</html>