<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff0db6d3d3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>User Profile History</title>
</head>
<body id="userBookingHistory" th:data-error="${error}">
<div class="NavigationFlexContainer">
    <div class="logo">
        <img th:src="@{/images/lekkaRideLogo.png}" alt="LekkaRide">
    </div>
    <div class="nav-links">
        <a th:href="@{/}" >Home</a>
        <a th:if="${session.role == 'passenger'}" th:href="@{/bookARide}">Book a ride</a>
        <a th:if="${session.role == 'driver'}" th:href="@{/viewRideRequests}">View booking request</a>
        <a th:if="${session.role == 'passenger'}" th:href="@{/userProfile}">User Profile</a>
        <a th:if="${session.role == 'driver'}" th:href="@{/driverProfile}">Driver Profile</a>
        <a th:if="${session.user == null}" th:href="@{/userRegister}">Login/Register</a>
        <a th:if="${session.role == 'passenger'}" th:href="@{/userBookingHistory}">User Profile history</a>
    </div>
</div>

<div class="historyTextBox">
    <h1> User Profile History</h1>
</div>

<div class="userHistoryFlexContainer"  >
            <div th:if="${#lists.isEmpty(bookings)}">
                <p id="NoSessionP">No bookings found.</p>
            </div>
            <div th:each="booking : ${bookings}" ><!--Loop through each iteration of Sessions (Bookings just for naming , to not be confused with HTTP session) -->
                <p><strong>Driver:</strong> <span th:text="${booking.driver?.driverName} +' '+ ${booking.driver?.driverSurname}"></span></p>
                <p><strong>User:</strong>><span th:text="${booking.user?.userName} +' '+ ${booking.user?.userSurname}"></span></p>
                <p><strong>Passenger Count:</strong> <span th:text="${booking.passengerCount}"></span></p>
                <p><strong>Status:</strong> <span th:text="${booking.sessionStatus}"></span></p>
                <p><strong>Pick Up:</strong>
                    <span th:text="${booking.location?.pickup?.pickupStreet}"></span>,
                    <span th:text="${booking.location?.pickup?.pickupSuburb}"></span>,
                    <span th:text="${booking.location?.pickup?.pickupCity}"></span>
                </p>
                <p><strong>Drop Off:</strong>
                    <span th:text="${booking.location?.dropoff?.dropoffStreet}"></span>,
                    <span th:text="${booking.location?.dropoff?.dropoffSuburb}"></span>,
                    <span th:text="${booking.location?.dropoff?.dropoffCity}"></span>
                </p>
                <p><strong>Price:R</strong> <span th:text="${booking.payment?.paymentamount}"></span></p>

                <!-- Cancel form inside the loop -->
                <form th:if="${(#strings.equalsIgnoreCase(booking.sessionStatus, 'Pending'))}"
                      th:action="@{/userBookingHistory/cancel}" onsubmit="return confirm('Are you sure you want to cancel this session?');" method="post">
                    <input type="hidden" name="sessionId" th:value="${booking.sessionId}" />
                    <input type="submit" class="backTrackButton" value="Cancel Booking" />
                </form>

                <form th:if="${(#strings.equalsIgnoreCase(booking.sessionStatus, 'Pending Response'))}"
                      th:action="@{/userBookingHistory/reject}" onsubmit="return confirm('Are you sure you want to reject this Driver?');" method="post">
                    <input type="hidden" name="sessionId" th:value="${booking.sessionId}" />
                    <input type="submit" class="backTrackButton" value="Reject Driver" />
                </form>

                <form th:if="${(#strings.equalsIgnoreCase(booking.sessionStatus, 'Pending Response'))}"
                      th:action="@{/userBookingHistory/acceptResponse}"  onsubmit="return confirm('Are you sure you want to accept this Driver?');" method="post">
                    <input type="hidden" name="sessionId" th:value="${booking.sessionId}" />
                    <input type="submit" class="proceedButton" value="Accept Driver" />
                </form>


                <form th:if="${(#strings.equalsIgnoreCase(booking.sessionStatus, 'Active'))}"
                      th:action="@{/userBookingHistory/completed}"  onsubmit="return confirm('Are you sure you want to complete this session ?');" method="post">
                    <input type="hidden" name="sessionId" th:value="${booking.sessionId}" />
                    <input type="submit" class="proceedButton" value="Complete Booking" />
                </form>

            </div>

</div>
<script>
    const error = document.getElementById('userBookingHistory').dataset.error;
    if(error) {
        alert(error);
    }
</script>
</body>
</html>
