<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ff0db6d3d3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Profile History</title>
</head>
<body id="viewRideRequestBody"  th:data-error="${error}">
<div class="NavigationFlexContainer">
    <div class="logo">
        <img th:src="@{/images/lekkaRideLogo.png}" alt="LekkaRide">
    </div>
    <div class="nav-links">
        <a th:href="@{/}" >Home</a>
        <a th:if="${session.role == 'passenger'}" th:href="@{/bookARide}">Book a ride</a>
        <a th:if="${session.role == 'driver'}" th:href="@{/viewRideRequests}">View booking request</a>
        <a th:if="${session.role == 'passenger'}" th:href="@{/userProfile}">User Profile</a>
        <a th:if="${session.role == 'driver'}" th:href="@{/driverProfile}">Driver Profile</a>
        <a th:if="${session.user == null}" th:href="@{/userRegister}">Login/Register</a>
    </div>
</div>

<div class="viewSessionsFlexContainer" >
    <div th:if="${#lists.isEmpty(bookings)}">
        <p id="NoSessionP" >No bookings found.</p>
    </div>

    <div th:each="booking : ${bookings}">
        <p><strong>Driver Name:</strong> <span th:text="${booking.driver?.driverName}"></span></p>
        <p><strong>Passenger Count:</strong> <span th:text="${booking.passengerCount}"></span></p>
        <p><strong>Status:</strong> <span th:text="${booking.sessionStatus}"></span></p>
        <p><strong>Pick Up:</strong> <span th:text="${booking.location?.pickup?.pickupStreet}"></span>,
            <span th:text="${booking.location?.pickup?.pickupSuburb}"></span>,
            <span th:text="${booking.location?.pickup?.pickupCity}"></span></p>
        <p><strong>Drop Off:</strong> <span th:text="${booking.location?.dropoff?.dropoffStreet}"></span>,
            <span th:text="${booking.location?.dropoff?.dropoffSuburb}"></span>,
            <span th:text="${booking.location?.dropoff?.dropoffCity}"></span></p>

        <form th:action="@{/viewRideRequests/accept}" method="post">
            <input type="hidden" name="sessionId" th:value="${booking.sessionId}" />
            <label for="price">Enter Price:</label>
            <input type="number" id="price" name="price" step="0.01" required />
            <input type="submit" value="Accept Booking" />
        </form>
    </div>
</div>
<script>
    const error = document.getElementById('viewRideRequestBody').dataset.error;
    if(error) {
        alert(error);
    }
</script>
</body>
</html>
